<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Promohawk"
        tools:targetApi="31">
        <activity
            android:name=".seg_priv"
            android:exported="false" />
        <activity
            android:name=".samsung"
            android:exported="false" />
        <activity
            android:name=".Sony"
            android:exported="false" />
        <activity android:name=".ProdutosActivity" />
        <activity
            android:name=".LG"
            android:exported="false" />
        <activity
            android:name=".Submarino"
            android:exported="false" />
        <activity
            android:name=".AppleStore"
            android:exported="false" />
        <activity
            android:name=".GoPro"
            android:exported="false" />
        <activity
            android:name=".DolceGusto"
            android:exported="false" />
        <activity
            android:name=".Nike"
            android:exported="false" />
        <activity
            android:name=".Kz"
            android:exported="false" />
        <activity
            android:name=".Lojas"
            android:exported="false" />
        <activity android:name=".Centauro" />
        <activity android:name=".Amazon" />
        <activity android:name=".Kabum" />
        <activity android:name=".Mercado_Livre" />
        <activity android:name=".Magazine" />
        <activity android:name=".Pichau" />
        <activity android:name=".ProdutosDestaque" />
        <activity
            android:name=".item_produto"
            android:exported="false" />
        <activity
            android:name=".item_favorito"
            android:exported="false" />
        <activity
            android:name=".Suporte"
            android:exported="false" />
        <activity
            android:name=".Historico"
            android:exported="false" />
        <activity
            android:name=".Config_interna"
            android:exported="false" />
        <activity
            android:name=".Favoritos"
            android:exported="false" />
        <activity
            android:name=".Config"
            android:exported="false" />
        <activity
            android:name=".RecuperarSenha"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity android:name=".ProdutoDetalheActivity" />
        <activity
            android:name=".Cadastro"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>